{% extends 'base.html' %}
{% load crispy_forms_tags %} 


{% block content %}


    <main role="main" class="container">
        <div class="jumbotron">
            <h1>{{title}}</h1><br>
            <form method="POST" action=''>{% csrf_token %}
                {{form|crispy}}
                <input href="/list_proveedores"  class="btn btn-danger" type="submit" value="Guardar"/>
                <a href ="/list_proveedores"><div  class="btn btn-primary">Proveedores</div></a>
            </form>
        </div>
    </main>

{% endblock content %}  


