{% extends 'base.html' %}
{% load static %}
{% block title %}Pacha Page
{% endblock %}





		



 {% block content %}
	 		<!-- <style>
	            body {
		            background-image: url("static/img/bg_main.jpg");
		            background-position: center center;
		            background-repeat: no-repeat;
		            background-attachment: fixed;
		            background-size: cover;
		            height: 100%;
		            min-height: 75rem;
		            padding-top: 4.5rem;
	        	}
	        </style> -->
        
        <br> <br> <br> <br> <br>



    
        <main role="main" class="container">
            <div class="jumbotron">
                <h1>Systems APP</h1>
                <p class="lead"> Nuestro objetivo es proporcionar a los distintos sectorores comerciales, un desarrollo tecnologico que mejores la administracion, gerencia y controles de calidad a su empresa ademas de brindarle un servicio de respaldados de los producto, asesoramiento monitoreo de los servicios y ciberseguridad.
                	<br><br>

                                Nos hemos esforzado por servir un mejoramiento continuo en nuestra cartera de productos, beneficios y servicios para satisfacer las necesidades dinamicas Empresariales del Sector ...</p>
                
    
                
            </div>
        </main>

        

{% endblock %}
